deliverables
*.o
*.def
*.swp
build/*
src/assets/generated_assets/*
src/games/chase/generated_assets/*
src/games/shoot/generated_assets/*
src/demos/matrix/generated_assets/*
src/demos/tiles/generated_assets/*
src/games/bomber/generated_assets/*
src/games/conan/generated_assets/*
src/test/*.exe
src/*.asm
src/experiments/*
src/wincmoc_main.c
src/*.asm
src/chase/*.s
src/nes/*.o
src/nes/nes_graphics.s
*.swp
*.swo
src/wincmoc_input.c
src/wincmoc_graphics.c
./tools/cpcrslib/cpcrslib.lib
./map.txt
*.stackdump
src/wincmoc_tmp.c
src/*combo.c
*.lst
tools/EDIP1e/xchase.DSK
src/cross_lib/display/*.s
src/chase/wincmoc*
a.exe
a.out
