deliverables
*.o
*.def
*.swp
build/*
!build/.keepthisfile.txt
src/experiments/*
src/wincmoc_main.c
src/*.asm
build/*.asm
src/chase/*.s
src/nes/*.o
src/nes/nes_graphics.s
*.swp
*.swo
src/wincmoc_input.c
src/wincmoc_graphics.c
./tools/cpcrslib/cpcrslib.lib
./map.txt
*.stackdump
src/wincmoc_tmp.c
*.lst
tools/EDIP1e/xchase.DSK
src/cross_lib/display/*.s
src/chase/wincmoc*
a.exe
a.out
