deliverables
*.o
*.def
*.swp
build
src/wincmoc_main.c
*.bin
*.asm
src/*.s
src/nes/*.o
src/nes/nes_graphics.s
*.swp
*.swo
src/wincmoc_input.c
src/wincmoc_graphics.c
./tools/cpcrslib/cpcrslib.lib
./map.txt
*.s
*.stackdump
src/wincmoc_tmp.c
*.lst
