*~
\#*
.#*
*.o
*.u
*.i
*.s
*.obj
*.exe
*.bin
*.lis
*.lst
*.map
*.sym
*.def
*.zip
*.err
*.abs
*.reloc
*.bac
/asmsrc/*.c
/asmsrc/*.h
abcread
abctext
abcwrite
deinter
ithabs
casdecode
casencode
bin2abc
/autoconf/aclocal.m4
/autoconf/helpers
/config
/config.log
/config.status
/configure
/Makefile
/rel
