*.o
*.exe
*.orig
*.prg
*.exo
*~
deps
/src/exomizer
/src/exobasic
/src/sfxdecr
/src/sfxdecr.c
/exodecrs/testrun
/exodecrs/test.prg
/exodecrs/*.os*
/rawdecrs/main
/rawdecrs/main2
/rawdecrs/*.dec
/rawdecrs/*.oxe