
		.segment "UDCCHAR"
		.export _Charset

_Charset:

; ghost
.byte <tile_4>

; bomb
.byte <tile_5>

; player up
.byte <tile_1>

; player down 
.byte <tile_0>

; player left
.byte <tile_3>

; player right 
.byte <tile_2>

; 
;.byte $00,$00,$00,$00,$00,$00,$00,$00

; 
;.byte $00,$00,$00,$00,$00,$00,$00,$00

; 
;.byte $00,$00,$00,$00,$00,$00,$00,$00

; 
;.byte $00,$00,$00,$00,$00,$00,$00,$00

; 
;.byte $00,$00,$00,$00,$00,$00,$00,$00

; 
;.byte $00,$00,$00,$00,$00,$00,$00,$00


