SECTION rodata_font
SECTION rodata_font_8x8

PUBLIC _udgs
PUBLIC _udgs_end

_udgs:

defb <tile_0>

defb <tile_1>

defb <tile_2>

defb <tile_3>

defb <tile_4>

defb <tile_5>

defb <tile_6>

defb <tile_7>

defb <tile_8>

defb <tile_9>

defb <tile_10>

defb <tile_11>

defb <tile_12>

defb <tile_13>

defb <tile_14>

defb <tile_15>

defb <tile_16>

defb <tile_17>

defb <tile_18>

defb <tile_19>

defb <tile_20>

defb <tile_21>

defb <tile_22>

defb <tile_23>

defb <tile_24>

defb <tile_25>

defb <tile_26>

defb <tile_27>

defb <tile_28>

defb <tile_29>

defb <tile_30>

defb <tile_31>

defb <tile_32>

defb <tile_33>

defb <tile_34>

defb <tile_35>

defb <tile_36>

defb <tile_37>

defb <tile_38>

defb <tile_39>

defb <tile_40>

defb <tile_41>

defb <tile_42>

defb <tile_43>

defb <tile_44>

defb <tile_45>

defb <tile_46>

defb <tile_47>

defb <tile_48>

defb <tile_49>

defb <tile_50>

defb <tile_51>

defb <tile_52>

defb <tile_53>

defb <tile_54>

defb <tile_55>

defb <tile_56>

defb <tile_57>

defb <tile_58>

defb <tile_59>

defb <tile_60>

defb <tile_61>

defb <tile_62>

defb <tile_63>

defb <tile_64>

defb <tile_65>

defb <tile_66>

defb <tile_67>

defb <tile_68>

defb <tile_69>

defb <tile_70>

defb <tile_71>

defb <tile_72>

defb <tile_73>

defb <tile_74>

defb <tile_75>

defb <tile_76>

defb <tile_77>

defb <tile_78>

defb <tile_79>

defb <tile_80>

defb <tile_81>

defb <tile_82>

defb <tile_83>

defb <tile_84>

defb <tile_85>

defb <tile_86>

defb <tile_87>

defb <tile_88>

defb <tile_89>

defb <tile_90>


_udgs_end:

